<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <form action="/createpost" method="post">
        <input type="text" name="uname" placeholder="Your Name">
        <input type="text" name="title" placeholder="Post Title">
        <input type="text" name="description" placeholder="Post Description">
        <textarea type="text" name="content" placeholder="Post Content [Markdown]"></textarea>
        <button type="submit">Create New Post</button>
    </form>
</body>
</html>